body {
    color: #fff;
    background: black;
}

h1 {
    text-align: center;
}

input[type="text"] {
    color: white;
    background-color: black;
}

label.spell-radio {
    break-inside: avoid;
}
